*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul ol {
	list-style: none;
}
img {
	vertical-align: middle;
}
uni-app, uni-page, uni-page-wrapper, uni-page-body {
	height: 100%;
}
.box {
	height: 100%;
}
.flex {
	display: flex;
}
.flex1 {
	flex: 1;
}
.f-j-s {
	justify-content: space-between;
}
.f-j-c {
	justify-content: center;
}
.f-a-c {
	align-items: center;
}
.t-c {
	text-align: center;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-20 {
	font-size: 20px;
}
.fs-26 {
	font-size: 26px;
}
.fs-28 {
	font-size: 28px;
}
.fw-b {
	font-weight: bold;
}

.c-6 {
	color: #666666;
}
.c-9 {
	color: #999999;
}
.c-d {
	color: #dddddd;
}
.c-4a {
	color: #4AAAFF!important;
}

.bg-ffe {
	background: #FFE431;
}
.bg-4a-10 {
	background: rgba(74,170,255,0.1);
}
.bg-white {
	background: #fff;
}

.mt-6 {
	margin-top: 6px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-24 {
	margin-top: 24px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-12 {
	margin-left: 12px;
}
.ml-20 {
	margin-left: 20px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-16 {
	margin-right: 16px;
}
.mb-20 {
	margin-bottom: 20px;
}